/*Общие стили*/

body {
    font-family: 'PT Sans', Arial, sans-serif;
    color: #000000;
    background-color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    display: none;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.content-wrapper {
    display: flex;
}

.content-wrapper .sidebar {
    width: 220px;
    margin-right: 20px;
    flex-shrink: 0;
    
}

.content-wrapper .content {
    flex-grow: 1;
    /*background-color: cyan;*/
}

/*Кнопки*/

.btn {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border: 0;
    transition: all 100ms;
}

.btn--red {
    background-color: #e73541;
    color: #ffffff;
}

.btn--red:hover {
    background-color: #ca2c37;
}

.btn--red:active {
    background-color: #ba2732;
}

.btn--green {
    background-color: #63a63e;
    color: #ffffff;
    border-bottom: 3px solid #367315;
}

.btn--green:hover {
    background-color: #5fbb2d;
}

.btn--green:active {
    background-color: #518534;
}

.btn--bordered {
    background-color: #ffffff;
    border: 3px solid #63a63e;
    color: #32425c;
}

.btn--bordered:hover {
    border-color: #32425c;
}

.btn--bordered {
    color: #c1c6ce;
    border-color: #c1c6ce;
}

/*header*/

.header {
    font-family: Cuprum, Arial, sans-serif;
    background-color: #f4f7f9;
    padding-bottom: 60px;
}

.header-topline {
    background-color: #293449;
    color: #ffffff;
}

.header-topline .container {
    display: flex;
    height: 42px;
}

.main-logo {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 24px;
    line-height: 42px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ee3643;
    /*border-bottom: 5px #b52933 solid;*/
    display: block;
    width: 220px;
    text-align: center;
    position: relative;
}

.main-logo::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #b52933;
    position: absolute;
    top: 100%;
    left: 0;
}

.main-logo:hover {
    background-color: #ca2c37;
    border-bottom-color: #9a212a;
}

.main-logo:hover::after {
    background-color: #9a212a;
}

.header-search input {
    width: 270px;
    height: 42px;
    border: none;
    color: #ffffff;
    font-family: Cuprum, Arial, sans-serif;
    font-size: 17px;
    padding-left: 49px;
    padding-right: 10px;

    background-color: transparent;
    background-image: url(../img/icon-search.png);
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 17px 50%;
}

.header-search input::-webkit-input-placeholder {
    color: #ffffff;
    font-family: Cuprum, Arial, sans-serif;
    font-size: 17px;
}

.header-search input::-moz-placeholder {
    color: #ffffff;
    font-family: Cuprum, Arial, sans-serif;
    font-size: 17px;
}

.header-search input:hover {
    background-color: #212a3a;
    background-image: url(../img/icon-search_white.png);
}

.header-search input:focus {
    background-color: #ffffff;
    color: #000000;
    background-image: url(../img/icon-search_accent.png);
}

.header-link {
    width: 150px;
    color: #ffffff;
    background-color: transparent;
    font-family: Cuprum, Arial, sans-serif;
    text-decoration: none;
    font-size: 17px;
    line-height: 42px;
    border: none;
    padding-left: 44px;

    background-repeat: no-repeat;
    background-position: 17px 50%;
}

.header-link:hover {
    background-color: #212a3a;
}

.header-link:active {
    background-color: #161d29;
}

.header-link--bookmark {
    background-image: url(../img/icon-bookmark.png);
    background-size: 14px 16px;
}

.header-link--bookmark:hover {
    background-image: url(../img/icon-bookmark_white.png);
}

.header-link--cart {
    background-image: url(../img/icon-cart.png);
    background-size: 15px;
}

.header-link--cart:hover {
    background-image: url(../img/icon-cart_white.png);
}

.header-link--order {
    background-color: #63a63e;
    padding-left: 5px;
    padding-right: 5px;
}

.header-link--order:hover {
    background-color: #5fbb2d;
}

.header-link--order:active {
    background-color: #518534;
}

.header-body {
    display: flex;
}

.header-slogan {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 16px;
    color: #ee3643;
    font-style: italic;
    line-height: 1.4375;
}

.header-tel {
    font-size: 21px;
    color: #ee3643;
    border: 3px solid;
    text-decoration: none;
    text-align: center;
}

.header-address {
    color: #32425c;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
}

.header-user-btn {
    background-color: #ffffff;
    color: #000000;
    font-size: 21px;
    text-decoration: none;
}

.header-user-btn:hover {
    color: #ee3643;
}

.header-user-btn:active {
    color: #b2b2b2;
}

.header-nav ul {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.header-nav li {
    flex-grow: 1;
}

.header-nav a {
    font-size: 17px;
    color: #ffffff;
    text-decoration: none;
    background-color: #32425c;
    border-bottom: 5px solid #293449;
    height: 55px;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav a:hover {
    background-color: #293449;
}

.header-nav a:active {
    color: #868c95;
    background-color: #1d2739;
    border-bottom-color: #1d2739;
}

/*main-sections*/

.main-sections {
    font-family: Cuprum, Arial, sans-serif;
}

.main-sections-list {
    list-style: none;
}

.main-sections-item a {
    text-decoration: none;
    color: #ffffff;
    background-color: #ffbf47;
}

.main-sections-item h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
}

.main-sections-item span {
    font-size: 14px;
    line-height: 1.3;
    background-color: rgba(0, 0, 0, .1);
    text-align: center;
    border-radius: 3px;
}

/*main-slider*/

.main-slider {
    color: #ffffff;
    font-family: Cuprum, Arial, sans-serif;
}

.main-slider-list {
    list-style: none;
}

.main-slider-slide {
    background-color: #6b564b;
}

.main-slider-slide h2 {
    font-size: 36px;
    text-transform: uppercase;
}

.main-slider-slide h2 {
    font-size: 36px;
    text-transform: uppercase;
}

.main-slider-slide {
    font-size: 18px;
    line-height: 1.3;
}

/*main-section*/

.main-section header {
    font-family: Cuprum, Arial, sans-serif;
    background-color: #f9f5f0;
}

.main-section header h2 {
    color: #32425c;
    text-transform: uppercase;
    font-size: 30px;
}

/*product item*/

.products-list {
    list-style: none;
}

.item {
    font-family: 'PT Sans', Arial, sans-serif;
    text-align: center;
    border: 1px solid #eaeaea;
    padding: 20px 15px;
    position: relative;
}

.item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
.item--new{
    overflow: hidden;
}

.item-buttons {
   display: flex;
   justify-content: center;
align-items: center;
flex-direction: column;
   position: absolute;
   top: 0;
   left:0;
   right: 0;
   background: #ffffff;
   height: 165px;
   opacity: 0;
   transition: all 100ms;
}
.item-buttons .btn {
    display: flex;
    height: 38px;
    width: 135px;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;


}
.item--new::before{
    content: "new";
    background-color: #ee3634;
    display: block;
    height: 24px;
    line-height: 30px;
    width: 70px;
    color: #ffffff;
text-align: center;
position: absolute;
right: -18px;
top: 0px;
font-size: 13px;
transform: rotate(45deg);
z-index: 5;
   }
.item-buttons .btn:last-child {
margin-bottom: 0;
}


.item a {
    text-decoration: none;
}

.item-name {
    color: #000000;
    font-weight: 700;
    font-size: 18px;
}

.item-price--old {
    font-size: 17px;
    color: #a9a9a9;
    font-weight: 700;
    text-decoration: line-through;
}

.item-price--current {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ee3643;
    color: #ffffff;
    font-weight: 700;
    font-size: 17px;
    border-radius: 3px;
    text-align: center;
    width: 140px;
    height: 38px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.item-price--current::after {
    content: '';
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    border-top: 19px solid #ffffff;
    border-left: 20px solid transparent;
    top: 0;
    right: 0;
}

.item-price--current::before {
    content: '';
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 19px solid #ffffff;
    border-left: 20px solid transparent;
    bottom: 0;
    right: 0;
}

/*producers-list*/

.producers-list {
    list-style: none;
}

.producers-list-item {
    border: 1px solid #eaeaea;
}
/*sidebar*/
.sidebar-header {
    background-color: #f7f3ec;
    text-transform: uppercase;
    color:000000;
    font-size: 13px;
   line-height: 1;
   border-radius: 3px;
   padding: 13px 18px 15px;


}

.catalog-filter fieldset{
    border: 0;
    padding: 0;
    margin: 0;
    padding-bottom:25px;
    border-bottom: 1px solid;
    margin-bottom: 25px;

}
.catalog-filter fieldset:last-of-type{
    border-bottom: 0;
    margin-bottom: 0;
}

.catalog-filter legend{
    font-size: 17px;
    font-weight: bold;
    display: block;
    margin-bottom: 18px;
}
.catalog-filter .price-inputs{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.catalog-filter .price-inputs input{
width: 95px;
height: 38px;
color: #000000;
text-align: center;
border-radius: 3px;
border: 0;
}

.catalog-filter ul{
    padding-left: 0;
    margin: 0;
    list-style: none;
}
.catalog-filter li{
    margin-bottom: 15px;
}
.catalog-filter :last-child{
    margin-bottom: 0px;
}
.catalog-filter input[type="checkbox"],
.catalog-filter input[type="radio"] {
    display: none;
}
.catalog-filter input[type="checkbox"] + label,
.catalog-filter input[type="radio"] + label {
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 35px;
    position: relative;
}
.catalog-filter input[type="checkbox"] +label::before,
.catalog-filter input[type="radio"] + label::before {
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    top:50%;
    margin-top: -12px;
}

.catalog-filter input[type="checkbox"] +label::before{
width: 26px;
height: 23px;
background-repeat: no-repeat;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAXCAMAAAAiCq8iAAAAFVBMVEX////FxcX7+/vb29vHx8ft7e39/f0ZL/pgAAAAOElEQVR42u3SMQ4AIAjFUCof739kZQXjbmLXt9ami5p82s455UkiRi1QEgxrwaf3SESTQPc3LkctpRQBPboVWRcAAAAASUVORK5CYII=)
}

.catalog-filter input[type="radio"] +label::before {
border: 4px solid #c5c5c5;
border-radius: 50%;
}
.catalog-filter input[type="radio"] +label::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #c5c5c5;
    border-radius: 50%;
    position: absolute;
    left: 7px;
    top: 50%;
    margin-top: -5px;
    opacity: 0;
}
.catalog-filter input[type="radio"]:checked +label::after {
opacity: 1;
}
    /*services*/

.services {
    font-family: Cuprum, Arial, sans-serif;
    background-color: #f5f8fa;
    color: #000000;
}

.services h2 {
    font-size: 30px;
    text-transform: uppercase;
}

.services p {
    font-size: 13px;
    line-height: 1.84;
}

.services .tabs-titles {
    list-style: none;
}

.services .tabs-titles button {
    background-color: #32425c;
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;
}

.services .tabs-titles button:hover {
    background-color: #293449;
}

.services .tabs-titles button.active,
.services .tabs-titles button.active:hover {
    background-color: #ffffff;
    color: #32425c;
}

.services .tabs-contents h3 {
    font-size: 36px;
    color: #32425c;
    text-transform: uppercase;
}

/*Хлебные крошки*/

.breadcrumbs {
    padding-left: 0;
    list-style: none;
    display: flex;
    font-family: "PT Sans", Arial, sans-serif;
}

.breadcrumbs li {
    text-transform: uppercase;
    color: #000000;
    font-size: 13px;
    line-height: 1.4;
    margin-right: 38px;
}

.breadcrumbs li:first-child {
    display: flex;
    align-items: center;
}

.breadcrumbs li:first-child a {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 14px;
    height: 14px;
    background-image: url(../img/icon-home.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.breadcrumbs li:last-child {
    margin-right: 0;
}

.breadcrumbs a {
    text-decoration: none;
    color: inherit;
    display: block;
    position: relative;
}

.breadcrumbs a::after {
    content: '';
    display: block;
    width: 8px;
    height: 12px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI4cHgiIGhlaWdodD0iMTJweCIgdmlld0JveD0iMCAwIDggMTIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDggMTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiNDMUM2Q0UiIGQ9Ik03LjIzNyw1LjY0MkwxLjcyOSwwLjEzM2MtMC4xOTgtMC4xOTgtMC41MTktMC4xOTgtMC43MTYsMHMtMC4xOTgsMC41MTksMCwwLjcxNkw2LjE2Myw2bC01LjE1MSw1LjE1Yy0wLjE5OCwwLjE5OC0wLjE5OCwwLjUxOSwwLDAuNzE3YzAuMDk5LDAuMDk5LDAuMjI5LDAuMTQ4LDAuMzU4LDAuMTQ4YzAuMTI5LDAsMC4yNTktMC4wNSwwLjM1OC0wLjE0OGw1LjUwOS01LjUwOUM3LjQzNiw2LjE2LDcuNDM2LDUuODQsNy4yMzcsNS42NDJ6Ii8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;

    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: -22px;
}

.breadcrumbs a:hover {
    opacity: .45;
}

/*catalog-list*/

.catalog-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.catalog-list-item {
    flex-basis: 220px;
    flex-shrink: 0;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.item:hover .item-buttons{
opacity: 1;
}
.item:hover {
    box-shadow: 0 10px 25px rgba( 41, 52, 73, .5);
}