body {
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;
    background-color: #ffffff;

}
img {
    max-width: 100%;
    
}
.header {
    font-family:Cuprum, Arial, sans-serif;
}
.header-topline {
background-color: #293449;
color: #ffffff;
}
.main-logo {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 24px;
    line-height: 1;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ee3643;
    border-bottom: #b52933 5px solid;
    display: block;
    width: 220px;
    height: 47px;
    text-align: center


}
.main-logo:hover{
    background-color: #ca2c37;
    border-bottom-color: #9a212a;
}
.header-search input {
    width: 270px;
    height: 42px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-family: Cuprum, Arial, sans-serif;
    font-size: 17px;
}
.header-search input:hover {
    background-color: #212a3a;
}
.header-search input:focus{
    background-color: #ffffff;
    color:#000000;
}
.header-search input::-webkit-input-placeholder {
color:#ffffff
}
.header-link {
    color: #ffffff;
    background-color: transparent;
    font-family: Cuprum, Arial, sans-serif;
    text-decoration: none;
    font-size: 17px;
    border: 0;
    
}

.header-link:hover {
background-color: #212a3a;
}
.header-link:active {
    background-color: #161d29;
    color: #c4c4c4;
}
.header-link--order {
    background-color: #63a63e;
}
.header-link--order:hover{
    background-color: #5fbb2d; 
} 
.header-link--order:active {
    color:#518534;
}
.header-slogan {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4375;
    color: #ee3643;
    font-style: italic
}
.header-body {
background-color:#f4f7f9;
}
.header-tel{
    font-family: Cuprum, Arial, sans-serif;
    font-size: 17px;
    border: solid 2px #ffffff;
    text-decoration: none; 
    color: #ee3643;
    text-align: center;
}
.header-address {
    font-size: 14px;
    color: #32425c;
    line-height: 1.7;
    text-decoration: none;
}
.header-user-btn {
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
}
.header-user-btn:hover{
    color: #ee3643;
}
.header-user-btn:active{
    color: #b2b2b2;
}

.header-user-btn--login {
    background-color: #ffffff;
    color: #000000;
    text-decoration: none; 
}
.header-user-btn--login:hover{
    color: #ee3643;
}
.header-user-btn--login:active{
    color: #b2b2b2;
}
.header-nav ul{
    list-style: none;
}

.header-nav a {
    font-size: 17px;  
    color:#ffffff;
    background-color: #32425c; 
    text-decoration: none;
    border-bottom: 5px solid #293449;
}
.header-nav a:active{
    color:#b2b2b2;
    background-color: #1d2739;
    border-bottom: #1d2739;
}